.aboutMe--section{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    /* row-gap: 50px; */
    position: relative;
    width: 105vw;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: var(--white);
}
.aboutMe{
    background-position: center;
    /* border: 1px solid white; */
    background-size: cover;
    display: flex;
    position: relative;
    width: 90vw;
    height: auto;
    justify-content: center;
    column-gap: 60px;
    padding: 0 100px;
}
.aboutMe--section > h1{
    margin-bottom: 0;
}
.summary{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 300px;
    font-size: 20px;
    text-align: center;
}
.summary > p{
    margin-top: 0;
}
/* .aboutMePhotoContainer{
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.aboutMePhoto{
    height: 100%;
    background-color: var(--white);
} */
.more{
    height: 40px;
    width: 120px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: none;
    border: 2px solid var(--white);
    color: var(--white);
}

@media screen and (max-width: 900px){
    .aboutMe--section{
        /* background-image: url('../files/sep09.jpg'); */
        background-color: var(--secondary);
        display: flex;
        flex-direction: column;
        row-gap: 0;
        position: relative;
        width: 105vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .aboutMe{
        background-position: center;
        /* border: 1px solid white; */
        background-size: cover;
        display: flex;
        position: relative;
        width: 90vw;
        height: auto;
        justify-content: center;
        column-gap: 60px;
        padding: 0;
    }
    .summary{
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: auto;
        font-size: 20px;
    }
    .aboutMePhotoContainer{
        height: 300px;
        width: 250px;
        display: none;
        align-items: center;
        justify-content: center;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
    .aboutMePhoto{
        display: none;
    }
    .more{
        height: 40px;
        width: 120px;
        margin-top: 10px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background: none;
        border: 2px solid var(--white);
        color: var(--white);
    }
    .summary > p{
        margin-top: 30px;
    }
}