*{
    box-sizing: border-box;
}
#app{
    position: absolute;
    background-color: #1f1d1d;
    color: white;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6; */
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: "Oxanium", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: blue;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.header{
    background-color: rgb(20, 20, 20);
    height: 80px;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    transition: all ease .1s;
    font-weight: bold;
    /* text-shadow: 0 0 5px blue; */
    text-shadow: 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #fff, 0 0 20px #fff;

}
.header.active{
    background-color: rgb(209, 209, 209);
    height: 70px;
    width: 95vw;
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-top: 20px;
    border-radius: 50px;
    transition: all ease .2s;
    color: blue;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6;
}
.logo{
    border: 1px solid red;
    /* position: relative; */
    /* margin-top: 30px; */
    width: 100px;
    height: 50px;
    left: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    column-gap: 30px;
    /* position: relative; */
    right: 40px;
    /* margin-top: 30px; */
    /* z-index: 1; */
    font-size: 20px;
    /* font-weight: bold; */
    cursor: pointer;
}
.menu li:hover{
    /* text-shadow:
        0 0 1px #fff; */
    transform: scale(1.2);
    transition: .5s;
}
.hidden{
    opacity: 0;
    transition: all .5s;
}
.showHidden{
    opacity: 1;
    transition: all .5s;
}

/* display burger icon and hide menu,
    code below will only work on mobile view*/

@media screen and (max-width: 600px){
    
    .header--menu{
        border: 1px solid red;
    }

    .burger--menu{
        height: 2em;
        width: 3em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
        /* position: absolute; */
        /* margin-top: 25px; */
        right: 20px;
        /* position: fixed; */
        /* z-index: 1; */
    }
    .burger--bar{
        width: 100%;
        height: 0.4em;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5em;
    }
    /* burger clicked */
    .burger--bar.clicked:nth-child(1){
        transform: rotate(45deg) translate(11px, 8px);
        transition: ease-out 0.5s;
    }
    .burger--bar.clicked:nth-child(2){
        transform: scale(0.1);
        transition: ease-out 0.5s;
    }
    .burger--bar.clicked:nth-child(3){
        transform: rotate(135deg) translate(-10px, 8px);
        transition: ease-out 0.5s;
    }
    /* burger unclicked */
    .burger--bar.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }
    .hide{
        animation: slideHide .3s ease-in;
        transition: all .3s;
        opacity: 0;
    }
    .show{
        animation: slideShow .3s ease-in;
        opacity: 1;
    }
    .menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
        text-decoration: none;
        list-style-type: none;
        /* position: fixed; */
        margin-top: 70px;
        right: 0;
        width: 100%;
        height: auto;
        /* z-index: 1; */
    }

    /* menu slide effect */
    @keyframes slideShow {

        0%{
            transform: translateX(500px);
        }100%{
            transform: translateX(0px);
        }
        
    }
    @keyframes slideHide {

        0%{
            transform: translateX(0);
        }100%{
            transform: translateX(500px);
        }
        
    }
}


