*{
    box-sizing: border-box;
    /* border: 1px solid white; */
}
:root{
    overflow-x: hidden;
    --primary: #02457A;
    --secondary: #001B48;
    --white: #D6E8EE;
    --skyblue: #97CAD8
}
#app{
    position: absolute;
    /* background-color: #1f1d1d; */
    color: var(--white);
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6; */
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: "Oxanium", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: var(--white);
    font-size: 2.5em;
    text-shadow: 0 0 5px var(--skyblue);
}
.header{
    /* background-color: rgb(20, 20, 20); */
    height: 80px;
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    transition: all ease .1s;
    font-weight: bold;
    color: var(--white);
}
.header.active{
    background-color: rgba(209, 209, 209, .9);
    height: 70px;
    width: 95vw;
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-top: 20px;
    border-radius: 50px;
    transition: all ease .2s;
    color: var(--primary);
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6; */
}
.logo{
    width: auto;
    height: auto;
    left: 40px;
    margin-top: 5px;
}
.JPorteria{
    text-shadow: none;
    color: var(--white);
    font-weight: bold;
}
.header.active .JPorteria{
    text-shadow: none;
    color: var(--secondary);
    font-weight: bold;
}
.menu{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    column-gap: 30px;
    /* position: relative; */
    /* right: 40px;
    left: 40px; */
    /* margin-top: 30px; */
    /* z-index: 1; */
    font-size: 20px;
    /* font-weight: bold; */
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    scale: 1.1;
    transition: all .1s;
}
a{
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    color: var(--font);
}
a::after{
    content: "";
    position: absolute;
    background-color: var(--secondary);
    height: 4px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
a:hover{
    /* text-shadow: 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #fff, 0 0 20px #fff; */
}
.menu a:hover::after{
    width: 100%;
    transition: .5s;
}
.nav--active::after{
    width: 100%;
    transition: .5s;
}
.hidden{
    opacity: 0;
    transition: all .5s ease-out;
}
.showHidden{
    opacity: 1;
    transition: all .5s ease-in;
}

/* display burger icon and hide menu,
    code below will only work on mobile view*/

@media screen and (max-width: 900px){
    
    .header--menu{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: auto;
        margin-top: 270px;
        right: 0;
    }
    .header{
        padding: 0 30px;
    }
    .header.active{
        padding: 0 30px;
    }
    .logo{
        z-index: 5;
    }
    .burger--menu{
        height: 2em;
        width: 3em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        right: 20px;
        /* border: 1px solid white; */
    }
    .menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
        text-decoration: none;
        list-style-type: none;
        margin-top: 50px;
        padding: 20px 0;
        width: 100%;
        height: auto;
        /* border: 1px solid white; */
        background-color: var(--secondary);
    }
    .menu a{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    a::after{
        background-color: var(--white);
    }
    .burger--bar{
        width: 100%;
        height: 0.4em;
        background-color: var(--secondary);
        border-radius: 0.5em;
    }

    /* burger clicked */
    .burger--bar.clicked:nth-child(1){
        transform: rotate(45deg) translate(11px, 8px);
        transition: ease-out 0.5s;
    }
    .burger--bar.clicked:nth-child(2){
        transform: scale(0.1);
        transition: ease-out 0.5s;
    }
    .burger--bar.clicked:nth-child(3){
        transform: rotate(135deg) translate(-10px, 8px);
        transition: ease-out 0.5s;
    }
    /* burger unclicked */
    .burger--bar.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }
    .hide{
        animation: slideHide .3s ease-in;
        transition: all .3s;
        opacity: 0;
    }
    .show{
        animation: slideShow .3s ease-in;
        opacity: 1;
    }
    

    /* menu slide effect */
    @keyframes slideShow {

        0%{
            transform: translateX(500px);
        }100%{
            transform: translateX(0px);
        }
        
    }
    @keyframes slideHide {

        0%{
            transform: translateX(0);
        }100%{
            transform: translateX(500px);
        }
        
    }
}


