.contactMe--section{
    border: 1px solid yellow;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-content: center; */
    align-items: center;
}
.contactMe--socials{
    border: 1px solid red;
}
.contactMe--form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* row-gap: 20px; */
}
.contactMe--form > p{
    margin: 0;
}
.contactMe--form > input{
    margin-bottom: 20px;
    width: 100%;
}
.contactMe--name{
    height: 30px;
}
.contactMe--email{
    height: 30px;
}
.contactMe--message{
    height: 100px;
}
.submit{
    width: 50%;
}