.contactMe--section{
    background-color: rgb(21, 20, 20);
    margin-top: 100px;
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.contactMe--info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    /* border: 1px solid white; */
}
.contactMe--info > h1{
    margin: 0;
}
.contactMe--pii{
    /* background-color: white; */
    height: auto;
    width: 100%;
}
.phone, .email, .location {
    height: 40px;
    /* border: 1px solid blue; */
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-left: 20px;
}
.contactMe--icons{
    filter: 
        /* drop-shadow(0 0 100px rgb(61, 96, 187))  */
        drop-shadow(0 0 3px rgb(230, 231, 234))
}
.contactMe--socials{
    /* border: 1px solid red; */
    /* background-color: white; */
    width: auto;
    height: auto;
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}
.socialBox{
    /* border: 1px solid green; */
}
.socialIcon{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
}
.contactMe--form{
    /* border: 1px solid white; */
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    /* row-gap: 20px; */
}
.contactMe--form > p{
    margin: 0;
}
.contactMe--form > input{
    margin-bottom: 20px;
    width: 100%;
}
.contactMe--name{
    height: 30px;
}
.contactMe--email{
    height: 30px;
}
.contactMe--message{
    height: 100px;
}
.submit{
    width: 50%;
}
