.home--section{
    background: none;
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
.home--text{
    /* font-weight: bold; */
    font-size: 40px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.name{
    font-weight: bold;
    font-size: 70px;
    height: auto;
    width: auto;
}
.downloadCV{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: none;
    border: 2px solid var(--white);
    color: var(--white);
}
.homePhotoContainer{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: end;
    filter: 
        drop-shadow(0 0 100px rgb(61, 96, 187)) 
        drop-shadow(0 0 5px rgb(230, 231, 234))
}
.homePhoto{
    height: 700px;
    width: 700px;
}

@media screen and (max-width: 900px){
    .home--section{
        background: none;
        display: flex;
        position: relative;
        width: 90vw;
        height: 100vh;
        align-items: end;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .home--text{
        /* font-weight: bold; */
        font-size: 30px;
        height: auto;
        width: 100%;
        /* border: 1px solid red; */
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 1;
        top: 180px;
        color: #415ed1;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    .name{
        font-weight: bold;
        font-size: 70px;
        height: auto;
        width: auto;
    }
    .homePhotoContainer{
        height: auto;
        width: auto;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: 
            drop-shadow(0 0 100px rgb(61, 96, 187)) 
            drop-shadow(0 0 5px rgb(230, 231, 234))
    }
    .homePhoto{
        height: 100%;
        width: 100%;
    }
}
