.projects--section{
    width: 90vw;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 100px;
}
.project{
    /* border: 1px solid yellow; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* column-gap: 100px; */
    padding: 50px;
}
.projectPhoto{
    width: 500px;
    height: 500px;
}
.project--description{
    /* border: 1px solid green; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    margin-top: 50px;
}
.project--title{
    font-size: 2rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px){
    .projects--section{
        width: 90vw;
        height: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        row-gap: 0;
        padding-top: 0;
    }
    .project{
        /* border: 1px solid yellow; */
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* column-gap: 100px; */
        padding: 0;
    }
    .projectPhoto{
        width: auto;
        height: auto;
    }
    .project--description{
        /* border: 1px solid green; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        width: auto;
        padding: 20px;
        margin-top: 0;
    }
    .project--title{
        font-size: 2rem;
        margin-bottom: 20px;
    }
}