.projects--section {
  width: 100vw;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  overflow: hidden;
}

/* Scrollable container */
.slider--container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none; /* Hides default scrollbar */
  -ms-overflow-style: none;
}

/* Hide scrollbar in WebKit browsers */
.slider--container::-webkit-scrollbar {
  display: none;
}

/* Individual project slides */
.project {
  flex: 0 0 100vw;
  scroll-snap-align: center;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.projectPhoto {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.project--description {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.project--description > a{
  text-decoration: underline;
}

.project--title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project--buttons {
  display: flex;
  column-gap: 20px;
}

.project--buttons > button {
  height: auto;
  width: auto;
  padding: 8px 15px;
  background: none;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project--buttons > button:hover {
  background: var(--white);
  color: black;
}

/* Navigation Arrows */
.slider--buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: black;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
  font-size: 60px;
  border-radius: 50%;
  /* transition: background 0.3s; */
}


/* Positioning for Previous & Next Buttons */
#prevBtn {
  left: 15px;
}

#nextBtn {
  right: 15px;
}

/* Responsive Adjustments */
@media screen and (max-width: 900px) {
  .projects--section {
    padding: 100px 0;
  }

  .project {
    width: 90%;
    flex-direction: column;
    gap: 0;
    justify-content:start
  }

  .projectPhoto {
    width: auto;
    height: 300px;
  }

  .project--description {
    width: auto;
    padding: 20px;
    margin-top: 0;
    text-align: justify;
  }

  .project--title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  /* Adjust arrow buttons for smaller screens */
  .slider--buttons {
    padding: 10px 15px;
    font-size: 40px;
  }

  #prevBtn {
    left: 5px;
  }

  #nextBtn {
    right: 5px;
  }
}
