.skills--section{
    /* background-color: red; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
    width: 90vw;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.skills{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.skillBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(-500px);
    transition: all 1s;
}
.showSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation: slideShow ease-in; */
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}
.skills > div > img{
    height: 80px;
    width: auto;
}

.showSkills:nth-child(2){
    transition-delay: .4s;
}
.showSkills:nth-child(3){
    transition-delay: .5s;
}
.showSkills:nth-child(4){
    transition-delay: .6s;
}
.showSkills:nth-child(5){
    transition-delay: .7s;
}
.showSkills:nth-child(6){
    transition-delay: .8s;
}
.showSkills:nth-child(7){
    transition-delay: .9s;
}
.showSkills:nth-child(8){
    transition-delay: 1s;
}
.showSkills:nth-child(9){
    transition-delay: 1.1s;
}
