.skills--section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    /* padding: 0 100px; */
    position: relative;
    width: 70vw;
    height: auto;
    align-items: center;
    /* border: 1px solid red; */
}
.skills{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills > img{
    height: 80px;
    width: auto;
}


@media screen and (max-width: 900px){
    .skills--section{
        margin-top: 50px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        width: 90vw;
    }
    .skills > img{
        height: 50px;
        width: auto;
    }
}

