.skills--section{
    display: flex;
    flex-direction: column;
    column-gap: 100px;
    position: relative;
    width: 90vw;
    height: auto;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid var(--secondary);
}
.skills--array{
    /* border: 5px solid var(--secondary); */
    display: flex;
    /* flex-direction: row; */
    column-gap: 100px;
    position: relative;
    width: 90vw;
    height: auto;
    align-items: center;
    /* justify-content: center; */
    padding: 50px 0;
    margin: 50px 0;
    overflow: hidden;
    white-space: nowrap;
}
.skills--array::before{
    content: "";
    height: 100%;
    width: 200px;
    background: linear-gradient(to right, var(--secondary), rgba(255, 255, 255, 0));
    position: absolute;
    left: 0;
    z-index: 1;
}
.skills--array::after{
    content: "";
    height: 100%;
    width: 200px;
    background: linear-gradient(to left, var(--secondary), rgba(255, 255, 255, 0));
    position: absolute;
    right: 0;
    z-index: 1;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}
.skills{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    display: flex;
    column-gap: 100px;
    animation: 20s slide infinite linear;
}
.skills--array:hover .skills{
    animation-play-state: paused;
}
.skills > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills > div > img{
    height: 80px;
    width: auto;
}


@media screen and (max-width: 900px){
    .skills--section{
        display: flex;
        flex-direction: column;
        column-gap: 50px;
        position: relative;
        width: 90vw;
        height: auto;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        /* border: 1px solid red; */
    }
    .skills--array{
        display: flex;
        /* flex-direction: row; */
        column-gap: 50px;
        position: relative;
        width: 90vw;
        height: auto;
        align-items: center;
        /* justify-content: center; */
        padding: 50px 0;
        margin: 50px 0;
        overflow: hidden;
        white-space: nowrap;
    }
    .skills--array::before{
        content: "";
        height: 100%;
        width: 50px;
        background: linear-gradient(to right, var(--secondary), rgba(255, 255, 255, 0));
        position: absolute;
        left: 0;
        z-index: 1;
    }
    .skills--array::after{
        content: "";
        height: 100%;
        width: 50px;
        background: linear-gradient(to left, var(--secondary), rgba(255, 255, 255, 0));
        position: absolute;
        right: 0;
        z-index: 1;
    }
    @keyframes slide {
        from{
            transform: translateX(0);
        }to{
            transform: translateX(-100%);
        }
    }
    .skills{
        /* border: 1px solid red; */
        height: auto;
        width: auto;
        display: flex;
        column-gap: 50px;
        animation: 20s slide infinite linear;
    }
    .skills--array:hover .skills{
        animation-play-state: paused;
    }
    .skills > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills > div > img{
        height: 80px;
        width: auto;
    }    
}

